<html>
<head>
    <meta charset="UTF-8">
    <title>Profil</title>
</head>
<body>
    <header class="main-header">
        <nav class="main-menu">
            <ul>
                <li><a routerLink="/profil" class="menu-link">Profil</a></li>
                <li><a routerLink="/firms" class="menu-link">Firme</a></li>
                <li><a routerLink="/appointments" class="menu-link">Zakazivanja</a></li>
                <li><a routerLink="/maintenance" class="menu-link">Odrzavanje</a></li>
            </ul>
        </nav>
    </header>

    <main class="content">
        <section id="profile" class="container">
            <h2>Profil</h2>
        
            <div class="row">
                <div class="label">Ime:</div>
                <div class="input">
                    <input type="text" name="username" [(ngModel)]="newName">
                </div>
            </div>
            <div class="row">
                <div class="label">Prezime:</div>
                <div class="input">
                    <input type="text" name="surname" [(ngModel)]="newSurname">
                </div>
            </div>
            <div class="row">
                <div class="label">Adresa:</div>
                <div class="input">
                    <input type="text" name="address" [(ngModel)]="newAddress">
                </div>
            </div>
            <div class="row">
                <div class="label">Mejl adresa:</div>
                <div class="input">
                    <input type="text" name="email" [(ngModel)]="newMail">
                </div>
            </div>
            <div class="row">
                <div class="label">Kontakt telefon:</div>
                <div class="input">
                    <input type="text" name="number" [(ngModel)]="newNumber">
                </div>
            </div>

            <div *ngIf="korisnik.tip !== 'dekorater'" class="row">
                <div class="label">Broj kreditne kartice:</div>
                <div class="input">
                    <input type="text" name="cardNumber" [(ngModel)]="newCardNumber" (ngModelChange)="checkCardNumber(newCardNumber)" required>
                    <div id="card" class="icon"></div>
                </div>
            </div>

            <div class="row">
                <div class="input">
                    <button (click)="update()">Azuriraj podatke</button>
                </div>
            </div>
        </section>
    </main>
</body>
</html>
